body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('/Content/Images/question_mark_header.jpg') center center no-repeat scroll;
    background-size: cover;
    color: #112a27;
}

.card {
    height: 100%;
    box-shadow: 1px 1px 4px #666;
}
.card-body {
    height: 100%;
}
.card .card-body, .card-footer {
    padding: 5px;
}
.card .image-holder {
    width: auto;
}
.card .image-holder img {
    width: 100%;
}
.card-footer {
    overflow: hidden;
}
.card-footer a.btn {
    float: right;
}

.has-error {
    color: #e11;
}

.profile-image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 4px dashed #29de63;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}
@media screen and (max-width: 450px) {
    .profile-image {
        margin-left: auto;
        margin-right: auto;
    }
}
.profile-image img {
    width: 100%;
    height: 100%;
}

.profile-image .image-helper {
    padding-top: 17%;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.1);
    text-align: center;
    font-size: 128px;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}
.profile-image.no-border {
    border: none;
}
.profile-image .image-helper:hover {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

[ng-cloak] {
    display: none;
}

[ngf-select] {
    cursor: pointer;
}