@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div ng-app="about" ng-controller="AboutController">
	<div class="chat-holder">
		<chat chat-object="chat" ng-repeat="chat in chats"></chat>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/angular")
	<script src="~/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="~/Scripts/angular/directives/chat.js"></script>
	<script>
		var socket = io('http://localhost:1337');

		socket.on("message", function (msg) {
			$("#messages").append("<li>").text(msg);
		});
		$('form').submit(function () {
			console.log("Submitting...", $("#message").val());
			socket.emit("new message", $("#message").val());
			$("#message").val("");
			return false;
		});
	</script>
	<script>
		angular.module("about", ["chat"])
			.controller("AboutController", ["$scope", function ($scope) {
				$scope.chats = [
					{
						name: "Jim",
						isTyping: false,
						messages: []
					},
					{
						image: "/Content/Images/question_mark_square.jpg",
						name: "Jack",
						isTyping: false,
						isOnline: true,
						messages: [
							{
								time: new Date(2016, 10, 5, 10, 22, 54),
								sender: true,
								message: "Hello Jack"
							},
							{
								sender: true,
								time: new Date(2016, 10, 5, 10, 23, 15),
								message: "How are you?"
							},
							{
								sender: false,
								time: new Date(2016, 10, 5, 13, 19, 11),
								message: "Hey logged user!"
							},
							{
								sender: true,
								time: new Date(2016, 10, 5, 13, 22, 13),
								message: "I have a name you know..."
							},
							{
								sender: false,
								time: new Date(2016, 10, 5, 13, 20, 15),
								message: "How are you?"
							}
						]
					},
					{
						name: "John",
						image: "/Content/Images/question_mark_square.jpg",
						isTyping: true,
						isOnline: true,
						messages: []
					}
				];
			}]);
	</script>
}
