@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="live-chat">
	<header class="clearfix">
		<a href="#" class="chat-close">
			<i class="fa fa-times"></i>
		</a>
		<h4 class="online">Marco Biedermann</h4>
		<span class="chat-message-counter">3</span>
	</header>
	<div class="chat">
		<div class="chat-history">
			<hr />
			<div class="chat-message chat-message-right clearfix">
				<img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
				<span class="chat-time">13:35</span>
				<div class="chat-message-content clearfix">
					<p>Hi!</p>
				</div> <!-- end chat-message-content -->
			</div> <!-- end chat-message -->
			<hr>
			<div class="chat-message chat-message-left clearfix">
				<img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
				<span class="chat-time">13:37</span>
				<div class="chat-message-content clearfix">
					<h5>Marco Biedermann</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>
				</div> <!-- end chat-message-content -->
			</div> <!-- end chat-message -->
			<hr>
			<div class="chat-message chat-message-right clearfix">
				<img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
				<span class="chat-time">13:38</span>
				<div class="chat-message-content clearfix">
					@*<h5>&nbsp;</h5>*@
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				</div> <!-- end chat-message-content -->
			</div> <!-- end chat-message -->
		</div> <!-- end chat-history -->
		<p class="chat-feedback">Your partner is typing…</p>
		<form action="#" method="post">
			<fieldset>
				<input type="text" placeholder="Type your message…" autofocus>
				<input type="hidden">
			</fieldset>
		</form>
	</div> <!-- end chat -->
</div> <!-- end live-chat -->
@section Scripts {
	<script src="~/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script>
		var socket = io('http://localhost:1337');

		socket.on("message", function (msg) {
			$("#messages").append("<li>").text(msg);
		});
		$('form').submit(function () {
			console.log("Submitting...", $("#message").val());
			socket.emit("new message", $("#message").val());
			$("#message").val("");
			return false;
		});
	</script>
	<script>
		(function () {
			$('#live-chat header').on('click', function () {
				$('.chat').slideToggle(300, 'swing');
				$('.chat-message-counter').fadeToggle(300, 'swing');
			});

			$('.chat-close').on('click', function (e) {
				e.preventDefault();
				$('#live-chat').fadeOut(300);
			});
		})();
	</script>
}
